<div class="embed-container" style="position: relative;">
    <iframe 
        scrolling="no" 
        frameborder="no" 
        allow="autoplay" 
        {% if include.width %}width="{{ include.width }}"{% else %}width="100%"{% endif %}
        {% if include.height %}height="{{ include.height }}"{% else %}height="130"{% endif %}
        {% if include.class %}class="{{ include.class }}"{% endif %}
        {% if include.title %}title="{{ include.title }}"{% endif %}
        src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/{{ include.token }}&color=%23ff9900&auto_play=false&visual=true">
    </iframe>

    {%- if include.caption -%}<figcaption class="caption">{{ include.caption }}</figcaption>{%- endif %}
</div>