<div class="embed-container" style="position: relative;">
    <iframe
        src="https://www.youtube.com/embed/{{ include.id }}"
        allowfullscreen
        position="absolute"
        {% if include.title %}title="{{ include.title }}"{% endif %}
        {% if include.class %}class="{{ include.class }}"{% endif %}
        {% if include.width %}width="{{ include.width }}"{% else %}width="100%"{% endif %}
        {% if include.height %}height="{{ include.height }}"{% else %}height="480"{% endif %}>
    </iframe>

    {%- if include.caption -%}<figcaption class="caption">{{ include.caption }}</figcaption>{%- endif %}

</div>